body> header> .logo{
    background-color: olive;
    margin: 5px;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: "Sevillana", Helvetica, sans-serif;
    color: cornsilk;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    
}

body > main > h2{
    margin: 10px;
}

.logo:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.847);
}


.banner_img{

    width: 128px;
    transform: rotate(45deg);
    transition: 0.3s;
    
}

.banner_img:hover{

    transform: rotate(360deg);
}

/* Header section of CSS ends */

body{
    color: olive;
    background-color: cornsilk;
    
    
}




#nav_content > ul{

    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

#nav_content> ul > li > a{

        text-decoration: none;
        margin: 5px;
        padding: 10px;
        border: 10px;
        border-radius: 10px;
        color: cornsilk;
        background-color: olive;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3); /* Add shadow */
        transition: background-color 0.3s ease;
}

#nav_content > ul > li > a:hover{

    background-color: cornsilk;
    color: olive;
}

#search_container{

    display: flex;
    justify-content: space-around;
    margin: 5px;
}


.search_input{

    width: 200px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search_input:focus{

    border-color: #007BFF;
    outline: none;
}

article{

    border: 2px;
    margin: 5px;
    padding: 5px;
    color: cornsilk;
    border-style:ridge;
    background-color: olive;
    border-radius: 10px;  

}

article:hover{
    color: olive;
    background-color: cornsilk;
}


#recipe_box{
    display: flex;
    width: auto;

}


/* Form style  */

#simple-form{

    background-color: olive;
    color: cornsilk;
    width: 99%;
    margin-left: 10px;
    border-color: grey;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#simple-form:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.886);
}

label{

    float: left;
    width: 50%;
    text-align: right;
    margin-top: 12px;
    padding-right: 10px;
    
}

/* Form style ends */

input , textarea{
    margin-top: 12px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-bottom: 5px;

}

/* Card css style  */
.card{
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition:  0.3s;
    width: 75%;
    justify-content: space-evenly;
    background-color: olive;
    color: cornsilk;
    border-radius: 10px;
}

.card:hover{
    box-shadow:  0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
}

.container_protein{
    padding: 2px 16px;
    text-align: center;
}



#list_cards{
    display: flex;
    width: 100%;
    
    
}

/* Card style ends */


#footer_container_nav{

    background-color: olive;
    color: cornsilk;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}

#footer_nav_head{
    display: flex;
    justify-content: left;
}

